<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../styles//chat.css">
</head>
<body>
    <div class="left">
        <div class="options-container">
            <button type="click" id="new-chat">New chat</button>
            <button type="click" id="new-group">New Group</button>
        </div>
        <div class="search-container">
            <input type="text" id="search-chats" class="text-input" placeholder="Search chats or groups">
        </div>
        <div class="chat-container">
            <ul class="user-list" id="user-list">
            <li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3 class="user-name">Name of person</h3>
            </li>
            <li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3>Name of person</h3>
            </li>

            <li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3 class="user-name">Name of person</h3>
            </li>
            <li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3>Name of person</h3>
            </li><li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3 class="user-name">Name of person</h3>
            </li>
            <li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3>Name of person</h3>
            </li><li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3 class="user-name">Name of person</h3>
            </li>
            <li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3>Name of person</h3>
            </li><li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3 class="user-name">Name of person</h3>
            </li>
            <li class="list-user">
                <img src="../../img.png" alt="DP" class="user-dp">
                <h3>Name of person</h3>
            </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="title-container">
            <img src="../../img.png" alt="DP" class="user-dp">
                <h3 class="user-name">Name of person</h3>
        </div>
        <div class="chat-box">
            <ul id="chats-list" class="chats-list">
                <li>This is a chat</li>
            </ul>
        </div>
        <div class="message-box">
            <input type="text" id="message" class="message">
            <button class="send" id="send">Send</button>
        </div>
    </div>
</body>

<script src="../scripts//chat.js"></script>
</html>