<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../styles/forgotPassword.css">
</head>
<body>
    <div class="container">
        <div class="forgot-header">
            <h2>Forgot your password? We got you</h2>
            <img src="" alt="logo" id="logo">
        </div>
        <div class="forgot-input">
            <form action="" id="login-form">
                <div class="email-input input-container">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
            </form>
            <div id="email-error">
            
            </div>
        </div>
        <div class="button-container">
            <button type="click" id="reset">Reset Password</button>
        </div>
    </div>
</body>

<script src="../scripts//forgotPassword.js"></script>
</html>