<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="container">
        <div class="login-header">
            <h2>Log into VibeShare</h2>
            <img src="" alt="logo" id="logo">
        </div>
        <div class="login-input">
            <form action="" id="login-form">
                <div class="email-input input-container">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="email-error">
            
                </div>
                <div class="password-input input-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="password-error">
            
                </div>
            </form>
            <a href="./forgot-password.html">Forgot Password?</a>
            
        </div>
        <div class="button-container">
            <button type="click" id="login">Login</button>
            <button type="click" id="signup">Create Account</button>
        </div>
    </div>
</body>

<script src="../scripts//login.js"></script>
</html>