* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

p{
    margin-bottom: 0px;
}

.left {
    background-color: rgb(67, 37, 52);
    flex-grow: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    min-width: 70vw;
    max-width: 70vw;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.text-input {
    width: 85%;
    padding: 10px;
    border: 1px rgb(77, 50, 50) solid;
    border-radius: 10px;
}

.text-input:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button {
    border: 1px blanchedalmond solid;
    border-radius: 10px;
    min-width: 100px;
    max-width: 130px;
    height: 40px;
    font-size: 17px;
    padding: 5px;
}


.btn-dark-orange {
    background-color: rgb(194, 71, 0);
    color: rgb(239, 214, 172);
}

.btn-dark-orange:hover {
    background-color: rgb(194, 71, 0);
    color: rgb(67, 37, 52);
    transition: background-color 0.8s ease;
}


.btn-dark-purple {
    background-color: rgb(67, 37, 52);
    color: rgb(239, 214, 172);
}

.btn-dark-purple:hover {
    background-color: rgb(67, 37, 52);
    color: rgb(194, 71, 0);
    transition: background-color 0.8s ease;
}


.btn-small{
    border: 1px blanchedalmond solid;
    border-radius: 10px;
    min-width: 60px;
    max-width: 100px;
    height: 35px;
    font-size: 15px;
    padding: 5px;
}


.list-user,
.list-group{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    margin: 10px;
    border: 1px black solid; 
    border-radius: 5px;
    background-color: rgb(24, 58, 55);
}

.list-user:hover,
.list-group:hover{
    box-shadow: 0 0 10px rgb(4, 21, 31);;
    transition: background-color 0.8s ease;
}

.list-user:active,
.list-group:active {
    background-color: rgb(218, 39, 39);
}


.user-dp,
.group-dp {
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
}

.user-list,
.group-list {
    overflow-y: auto;
    max-height: calc(100vh - 160px);
    padding: 10px;
    margin-top: 20px;
}


.title-container {
    padding: 20px;
    background-color: rgb(24, 58, 55);
    display: none;
}

.title-container:active{
    transition: background-color 0.8s ease;
    background-color: red;
}


.chat-box {
    background-color: antiquewhite;
    flex-grow: 12;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.message-box {
    display: none;
    background-color: rgb(24, 58, 55);
    padding: 20px;
    max-height: 200px; 
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.message {
    width: 100%;
    padding: 10px;
    border: 1px rgb(77, 50, 50) solid;
    border-radius: 10px;
    box-sizing: content-box;
    /* Reset box-sizing to its default value */
    margin-right: 10px;
}


.chats-list {
    display: flex;
    flex-direction: column;
}


.chat-window {
    background-color: rgb(67, 37, 52);
    margin: 10px;
    list-style: none;
    width: fit-content;
    max-width: 40%;
    padding: 10px;
    border-radius: 5px;
}


.my-chat {
    margin-left: auto;
    max-width: 30%; /* Limit maximum width */
    word-wrap: break-word; /* Allow long words to break and wrap */
    white-space: normal; /* Allow normal line wrapping */
    overflow-wrap: break-word; /* Allow word break for long words */
}

.others-chat {
    margin-right: auto;
    max-width: 30%; /* Limit maximum width */
    word-wrap: break-word; /* Allow long words to break and wrap */
    white-space: normal; /* Allow normal line wrapping */
    overflow-wrap: break-word; /* Allow word break for long words */
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.group-name-container{
    font-size: x-large;
}


.group-name,
.user-name{
    margin-left: 10px;
    color:rgb(239, 214, 172);
}


.chat-user-message{
    color:rgb(239, 214, 172);
    margin: 0px;
}


.chat-user-name{
    color: rgb(194, 71, 0);
    margin-bottom: 5px;
}



.new-group-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(77, 50, 50, 0.2) solid;
    padding: 5px;
    margin-bottom: 2px;
}

#search-members{
    margin-left: 10px;
    display: inline-block;
}

#group-name{
    display: block;
}


.fa-upload{
    color: rgb(194, 71, 0);
    font-size:30px;
    margin-right: 30px;
}

.fa-upload:active {
    color: rgb(239, 214, 172);
}


.spinner-border{
    position: relative;
    top: -50%;
    left: 50%;
    display: none;
}

.welcome-name{
    color: rgb(239, 214, 172);
    font-size: 25px;
}