* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.left {
    background-color: rgb(255, 126, 126);
    flex-grow: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    min-width: 70vw;
    max-width: 70vw;
}

.options-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.text-input {
    width: 85%;
    padding: 10px;
    border: 1px rgb(77, 50, 50) solid;
    border-radius: 10px;
}

.text-input:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button {
    border: 1px blanchedalmond solid;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: linear-gradient(to bottom, #92df8b, #feb47b);
    font-size: 17px;
    padding: 5px;
}

.button:hover {
    background: linear-gradient(to bottom, #ffc400, #feb47b);
    color: rgb(75, 49, 0);
}

.list-user,
.list-group{
    display: flex;
    align-items: center;
    margin: 30px;
    border: 1px black solid; 
    border-radius: 5px;
    background-color: rgb(255, 176, 176);;
}

.list-user:hover,
.list-group:hover{
    background-color: antiquewhite;
    transition: background-color 0.8s ease;
}

.list-user:active,
.list-group:active {
    background-color: rgb(218, 39, 39);
}


.user-dp,
.group-dp {
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
}

.user-list,
.group-list {
    overflow-y: auto;
    max-height: calc(100vh - 160px);
    background: linear-gradient(to top, #92df8b, #feb47b);
    padding: 10px;
    margin-top: 20px;
}


.title-container {
    display: flex;
    align-items: center;
    border: 1px black solid;
    background: linear-gradient(to right, #92df8b, #feb47b);
    padding: 10px;
    transition: background-color 0.8s ease;
}

.title-container:active{
    background-color: red;
}


.chat-box {
    background-color: antiquewhite;
    flex-grow: 12;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.message-box {
    padding: 20px;
    display: flex;
    max-height: 200px; 
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.message {
    width: 100%;
    padding: 10px;
    border: 1px rgb(77, 50, 50) solid;
    border-radius: 10px;
    box-sizing: content-box;
    /* Reset box-sizing to its default value */
    margin-right: 10px;
}


.chats-list {
    display: flex;
    flex-direction: column;
}


.chat-window {
    background: linear-gradient(to bottom, #ffc400, #c08557);
    margin: 10px;
    margin-left: 20px;
    list-style: none;
    width: fit-content;
    max-width: 40%;
    padding: 10px;
    border-radius: 10px;
}


.my-chat {
    margin-left: auto;
    max-width: 30%; /* Limit maximum width */
    word-wrap: break-word; /* Allow long words to break and wrap */
    white-space: normal; /* Allow normal line wrapping */
    overflow-wrap: break-word; /* Allow word break for long words */
}

.others-chat {
    margin-right: auto;
    max-width: 30%; /* Limit maximum width */
    word-wrap: break-word; /* Allow long words to break and wrap */
    white-space: normal; /* Allow normal line wrapping */
    overflow-wrap: break-word; /* Allow word break for long words */
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on content */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.group-name-container{
    font-size: x-large;
}