

.bg-rich-black {
    background-color: rgb(4, 21, 31);
}

.bg-wheat {
    background-color: rgb(239, 214, 172);
}

.btn-dark-orange {
    background-color: rgb(194, 71, 0);
    color: rgb(239, 214, 172);
}

.btn-dark-orange:hover {
    background-color: rgb(194, 71, 0);
    color: rgb(67, 37, 52)
}

.container.bg-wheat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    max-width: 60vw;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(194, 71, 0, 1);
}

.forgot-input.container {
    min-width: 150px
}

.error-message{
    background-color: rgb(194, 71, 0, 1);
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

.fa-brands{
    font-size:40px;
    color: rgb(194, 71, 0, 1);
}
